.about-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;

  .about-header {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image:
      linear-gradient(
        90deg,
        rgba(236, 236, 236, 0.9)
        98%,
        rgba(236, 236, 236, 0.9)
        100%,
        rgba(216, 216, 216, 0.9) 100%
      ),
      url(../assets/img/aboutHeadBack.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    padding-bottom: 34px;

    .top-icons-container {
      display: none;
    }

    .about-head-title {
      margin-top: 24px;
      width: 90vw;
      display: flex;
      flex-direction: column;
      align-items: center;

      span {
        font-family: "Lato", sans-serif;
        font-weight: 400;
        font-size: 18px;
        color: $primaryRed;
        text-align: center;
      }

      h1 {
        margin-top: 8px;
        font-family: "cocogoose-trial", sans-serif;
        font-weight: 400;
        font-size: 36px;
        line-height: 40px;
        color: $primaryRed;
        text-align: center;
      }

      .p-mobile {
        text-align: center;
        padding: 10px;
        font-size: 16px;
        line-height: 26px;
        font-weight: 700;
        font-family: 'Lato', sans-serif;
        color: $primaryBlack;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        margin: 15px 0;
        border: 1px solid #d8d8d8bd;
      }

      .p-desktop {
        display: none;
      }
    }

    .about-head-bottom {
      width: 90vw;
      text-align: center;
      margin-top: 12px;

      p {
        font-family: 'Lato', sans-serif;
        font-size: 15px;
        font-weight: 400;
        color: #787878;
        line-height: 22px;
        margin-bottom: 6px;
      }

      span {
        font-family: 'Lato', sans-serif;
        font-size: 14px;
        font-weight: 600;
        color: $primaryBlack;
        text-decoration: underline;

        i {
          transform: scale(0);
        }
      }
    }
  }

  .logo-about {
    width: 90vw;
    text-align: center;
    margin-top: 28px;
    margin-bottom: 28px;

    .logo-title {
      h3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: 'Lato', sans-serif;
        color: $primaryBlack;
        font-size: 26px;
        line-height: 32px;
        font-weight: 600;

        &::after {
          margin-top: 12px;
          content: '';
          display: block;
          position: relative;
          height: 1px;
          width: 30px;
          background-color: #fa5039;
        }
      }

      .logo-text-mobile {
        padding: 12px;
        font-family: 'Lato', sans-serif;
        font-size: 15px;
        line-height: 22px;
        font-weight: 400;
        color: #787878;
      }

      .logo-text-desktop {
        display: none;
      }
    }

    .logo-img {
      height: 260px;
      width: 90vw;
      background-image: url(../assets/img/logo.png);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      margin-bottom: 28px;
    }
  }

  .prev-fests {
    padding-top: 32px;
    padding-bottom: 32px;
    border-top: 1px solid #d8d8d8bd;
    width: 100%;
    text-align: center;

    .prev-title {
      h3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: 'Lato', sans-serif;
        color: $primaryBlack;
        font-size: 26px;
        line-height: 32px;
        font-weight: 600;

        &::after {
          margin-top: 12px;
          content: '';
          display: block;
          position: relative;
          height: 1px;
          width: 30px;
          background-color: #fa5039;
        }
      }

      p {
        padding: 12px;
        font-family: 'Lato', sans-serif;
        font-size: 15px;
        line-height: 22px;
        font-weight: 400;
        color: #787878;
      }
    }

    .prev-cards {
      display: flex;
      flex-direction: column;
      align-items: center;

      .card-top {
        width: 90vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-image:
          linear-gradient(
            90deg,
            rgba(36, 7, 0, 1) 0%,
            rgba(221, 87, 60, 0.196516106442577) 0%,
            rgba(255, 29, 0, 0.48503151260504207) 100%
          ),
          url(../assets/img/cardTopBack.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 200px;
        margin-bottom: 16px;

        h3 {
          font-family: 'Lato', sans-serif;
          font-size: 30px;
          font-weight: 600;
          color: white;
          margin-bottom: 12px;
        }

        h4 {
          font-family: 'Lato', sans-serif;
          font-size: 18px;
          font-weight: 400;
          color: white;
        }
      }

      .card-bot {
        width: 90vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-image:
          linear-gradient(
            90deg,
            rgba(36, 7, 0, 1) 0%,
            rgba(221, 87, 60, 0.196516106442577) 0%,
            rgba(255, 29, 0, 0.48503151260504207) 100%
          ),
          url(../assets/img/cardBotBack.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 200px;

        h3 {
          font-family: 'Lato', sans-serif;
          font-size: 30px;
          font-weight: 600;
          color: white;
          margin-bottom: 12px;
        }

        h4 {
          font-family: 'Lato', sans-serif;
          font-size: 18px;
          font-weight: 400;
          color: white;
        }
      }
    }
  }

  .sponsors {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 0;
    background-color: #414246;
    width: 100%;

    h5 {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: 'Lato', sans-serif;
      color: white;
      font-size: 26px;
      line-height: 28px;
      font-weight: 400;

      &::after {
        margin-top: 12px;
        content: '';
        display: block;
        position: relative;
        height: 1px;
        width: 40px;
        background-color: #fa5039;
      }
    }

    .partners-container {
      width: 90vw;
      margin-top: 24px;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;

      img {
        width: 110px;
        height: 110px;
      }
    }
  }

  .footer-mobile {
    margin: 26px 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    .footer-img {
      height: 100px;
      width: 100px;
    }

    .footer-text {
      font-family: 'Lato', sans-serif;
      font-weight: 600;
      font-size: 14px;
      color: #787878;
      line-height: 24px;
    }
  }

  .footer-desktop {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .about-container {
    .about-header {
      .top-icons-container {
        height: 60px;
        width: 74vw;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        .top-icons-list {
          width: 180px;
          list-style-type: none;
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          align-items: center;

          li {
            font-family: 'Lato', sans-serif;
            font-weight: 400;
            font-size: 14px;

            .black {
              color: $primaryBlack;
            }

            i {
              margin-left: 5px;
              color: $primaryRed;
            }
          }
        }
      }

      .about-head-title {
        span {
          display: none;
        }

        h1 {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          color: #fa4120;
          width: 50%;
          margin-top: 24px;
          font-size: 58px;
          line-height: 72px;

          &::after {
            margin-top: 12px;
            content: '';
            display: block;
            position: relative;
            height: 1px;
            width: 30px;
            background-color: #fa5039;
          }
        }

        .p-mobile {
          display: none;
        }

        .p-desktop {
          width: 55vw;
          margin-top: 32px;
          text-align: center;
          padding: 28px 42px;
          font-size: 14px;
          line-height: 26px;
          font-weight: 700;
          font-family: 'Lato', sans-serif;
          color: #8d8d8d;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: white;
          border: 1px solid #d8d8d8bd;
        }
      }

      .about-head-bottom {
        margin-top: 48px;
        margin-bottom: 42px;

        .bottom-text {
          font-size: 16px;
          font-weight: 600;
        }

        .bottom-email {
          font-size: 16px;

          .arrow {
            transform: scale(1);
            margin-left: 8px;
            color: #8d8d8d;
          }
        }
      }
    }

    .logo-about {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 48px;

      .logo-title {
        h3 {
          font-size: 28px;
          color: $primaryBlack;
        }

        .logo-text-desktop {
          width: 40vw;
          display: block;
          padding: 12px;
          font-family: 'Lato', sans-serif;
          font-size: 14px;
          line-height: 22px;
          font-weight: 700;
          color: #8d8d8d;
          margin-bottom: 24px;
        }

        .logo-text-mobile {
          display: none;
        }
      }

      .logo-img {
        width: 75vw;
        height: 520px;
        background-position: top;
        background-size: contain;
      }
    }

    .prev-fests {
      .prev-title {
        margin-top: 28px;
        margin-bottom: 44px;

        h3 {
          font-size: 26px;
          color: $primaryBlack;
        }

        p {
          font-size: 14px;
          line-height: 22px;
          font-weight: 700;
          color: #8d8d8d;
        }
      }

      .prev-cards {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 58px;

        .card-top {
          height: 220px;
          margin-right: 15px;
          width: 400px;
          margin-bottom: 0;

          h4 {
            font-weight: 600;
            font-size: 16px;
          }
        }

        .card-bot {
          height: 220px;
          width: 400px;
          margin-left: 15px;

          h4 {
            font-weight: 600;
            font-size: 16px;
          }
        }
      }
    }

    .sponsors {
      display: none;
    }

    .footer-desktop {
      height: 250px;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      background-color: #2e2e2e;

      .footer-img {
        height: 180px;
        width: 180px;
        margin-right: 55px;
      }

      .footer-text-container {
        width: 40%;
        margin-left: 55px;

        .footer-text {
          font-family: 'Lato', sans-serif;
          font-weight: 700;
          font-size: 15px;
          color: #aeaeae;
        }

        .footer-second-text {
          line-height: 22px;
          margin-top: 12px;
          font-family: 'Lato', sans-serif;
          font-weight: 700;
          font-size: 15px;
          color: #aeaeae;
        }
      }
    }

    .footer-mobile {
      display: none;
    }
  }
}
