@font-face {
    font-family: 'cocogoose';
    src: url(/cocogoose/cocogoose-pro.regular.ttf);
};

@font-face {
    font-family: 'cocogoose-light';
    src: url(/cocogoose/cocogoose-pro.light.ttf);
};

@font-face {
    font-family: 'cocogoose-semi';
    src: url(/cocogoose/cocogoose-pro.semilight.ttf);
};

@font-face {
    font-family: 'cocogoose-thin';
    src: url(/cocogoose/cocogoose-pro.thin.ttf);
};

@font-face {
    font-family: 'cocogoose-letter';
    src: url(/cocogoose/cocogoose-pro.letterpress.ttf);
};

@font-face {
    font-family: 'cocogoose-trial';
    src: url(/cocogoose/Cocogoose_trial.otf);
};


