.top-nav-desktop {
  display: none;
}

.nav-desktop {
  display: none;
}

.nav-mobile {
  height: 52px;
  width: 90vw;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;

  button {
    border: none;
    background-color: transparent;
    color: $primaryBlack;
  }
}

.header {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  background-color: $softGrey;
  height: 460px;
  width: 100%;

  .head-title {
    margin-top: 24px;
    width: 90vw;

    span {
      font-family: "Lato", sans-serif;
      font-weight: 400;
      font-size: 18px;
      color: $primaryRed;
    }

    h1 {
      margin-top: 8px;
      font-family: "cocogoose-trial", sans-serif;
      font-weight: 400;
      font-size: 36px;
      line-height: 40px;
      color: $primaryRed;
    }

    p {
      height: 80px;
      padding: 10px;
      font-size: 14px;
      line-height: 22px;
      font-weight: 700;
      font-family: 'Lato', sans-serif;
      color: $primaryBlack;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 3px solid white;
      margin: 15px 0;
    }
  }

  .head-bottom {
    margin-top: 15px;
    width: 90vw;

    h2 {
      font-family: "cocogoose-trial", sans-serif;
      color: $primaryBlack;
      font-size: 24px;
      font-weight: 400;
    }

    span {
      font-family: "Lato", sans-serif;
      color: $primaryBlack;
      font-size: 16px;
      font-weight: 600;
    }
  }
}

.main-program {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #272a31;

  h3 {
    margin: 26px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-family: "Lato", sans-serif;
    font-size: 20px;
    font-weight: 400;

    &::after {
      margin-top: 15px;
      display: block;
      position: relative;
      content: "";
      height: 1px;
      width: 40px;
      background-color: #fa5039;
    }
  }

  ul {
    list-style-type: none;
    width: 95vw;
  }

  li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-between;
    background-color: rgba(158, 158, 158, 0.178);
    height: 90px;
    margin-bottom: 12px;

    article {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .container-left {
        margin-left: 15px;
        width: 33%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;

        i {
          color: white;
        }

        h4 {
          text-align: center;
          display: flex;
          justify-content: flex-end;
          align-items: flex-end;
          font-family: "Lato", sans-serif;
          font-size: 17px;
          font-weight: 600;
          color: #fa5039;
          line-height: 26px;
        }
      }

      .container-right {
        height: 100%;
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center;

        p {
          padding: 8px 8px 8px 0;
          color: #f1f2f6;
          font-family: "Lato", sans-serif;
          font-weight: 400;
          font-size: 14px;
          line-height: 22px;
        }
      }
    }
  }

  .btn-container {
    margin: 22px 0;

    button {
      font-size: 16px;
      font-family: "Lato", sans-serif;
      font-weight: 600;
      padding: 16px 32px;
      border: none;
      text-decoration: none;
      background-color: $primaryRed;
      color: white;
    }
  }
}

@media only screen and (min-width: 768px) {
  .top-nav-desktop {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #3e3e3e;
    justify-content: flex-end;
    padding-right: 20%;
    height: 40px;

    ul {
      color: white;
      font-weight: 600;
      font-family: 'Lato', sans-serif;
      font-size: 15px;
      width: 320px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: row;
      list-style-type: none;
    }
  }

  .nav-desktop {
    background-color: white;
    height: 78px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    .logo-top-container {
      height: 50px;
      width: 50px;

      img {
        height: 100%;
        width: 100%;
        object-fit: contain;
      }
    }

    .nav-list-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      ul {
        width: 550px;
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        
        li {
          
          a {
            font-family: 'Latio', sans-serif;
            font-size: 15px;
            font-weight: 600;
            text-decoration: none;
            color: $primaryBlack;
          }
        }
      }

      .btn-nav-desktop {
        background-color: white;
        font-family: 'Lato', sans-serif;
        font-size: 14px;
        font-weight: 600;
        color: $primaryRed;
        border: 4px solid $primaryRed;
        padding: 12px 18px;
        margin-left: 60px;
      }
    }
  }

  .nav-mobile {
    display: none;
  }

  .header {
    height: 65vh;
    justify-content: flex-start;
    padding-top: 70px;

    .head-title {
      width: 80vw;
      margin-top: 30px;
      align-items: flex-start;

      span {
        font-size: 34px;
      }

      h1 {
        width: 65%;
        margin-top: 24px;
        font-size: 72px;
        line-height: 72px;
      }

      p {
        font-size: 16px;
        width: 40vw;
      }
    }

    .head-bottom {
      width: 80vw;

      h2 {
        font-size: 32px;
        margin-bottom: 14px;
      }

      span {
        font-size: 20px;
      }
    }
  }

  .main-program {

    h3 {
      font-size: 28px;
      margin-top: 50px;
    }

    ul {
      width: 80vw;
      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      column-gap: 5px;

      li {
        flex-direction: column;
        height: 260px;

        article {
          text-align: center;
          height: 90%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          .container-left {
            align-items: center;
            flex-direction: column;
            height: 50%;
            width: 85%;

            h4 {
              font-size: 20px;
            }
          }

          .container-right {
            margin-top: 5px;
            width: 85%;
            height: 50%;
            align-items: flex-start;

            p {
              margin: 0;
              padding: 0;
              width: 100%;
            }
          }
        }
      }
    }
  }
}