.top-nav-desktop {
  display: none;
}

.nav-desktop {
  display: none;
}

.nav-mobile {
  height: 52px;
  width: 90vw;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;

  button {
    border: none;
    background-color: transparent;
    color: $primaryBlack;
  }
}

.header {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  background-image: url(../assets/img/homeBack.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  width: 100%;

  .head-title {
    margin-top: 24px;
    width: 90vw;

    span {
      font-family: "Lato", sans-serif;
      font-weight: 400;
      font-size: 18px;
      color: $primaryRed;
    }

    h1 {
      margin-top: 8px;
      font-family: "cocogoose-trial", sans-serif;
      font-weight: 400;
      font-size: 36px;
      line-height: 40px;
      color: $primaryRed;
    }

    p {
      height: 80px;
      padding: 10px;
      font-size: 14px;
      line-height: 22px;
      font-weight: 700;
      font-family: 'Lato', sans-serif;
      color: $primaryBlack;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 3px solid white;
      margin: 15px 0;
    }
  }

  .head-bottom {
    margin-top: 15px;
    width: 90vw;

    h2 {
      font-family: "cocogoose-trial", sans-serif;
      color: $primaryBlack;
      font-size: 24px;
      font-weight: 400;
    }

    span {
      font-family: "Lato", sans-serif;
      color: $primaryBlack;
      font-size: 16px;
      font-weight: 600;
    }
  }
}

.main-program {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-image: url(../assets/img/pattern.png);

  h3 {
    margin: 26px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-family: "Lato", sans-serif;
    font-size: 20px;
    font-weight: 400;

    &::after {
      margin-top: 15px;
      display: block;
      position: relative;
      content: "";
      height: 1px;
      width: 40px;
      background-color: #fa5039;
    }
  }

  ul {
    list-style-type: none;
    width: 95vw;
  }

  li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-between;
    background-color: rgba(158, 158, 158, 0.178);
    height: 90px;
    margin-bottom: 12px;

    article {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .container-left {
        margin-left: 15px;
        width: 33%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;

        i {
          color: white;
        }

        h4 {
          text-align: center;
          display: flex;
          justify-content: flex-end;
          align-items: flex-end;
          font-family: "Lato", sans-serif;
          font-size: 17px;
          font-weight: 600;
          color: #fa5039;
          line-height: 26px;
        }
      }

      .container-right {
        height: 100%;
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center;

        p {
          padding: 8px 8px 8px 0;
          color: #f1f2f6;
          font-family: "Lato", sans-serif;
          font-weight: 400;
          font-size: 14px;
          line-height: 22px;
        }
      }
    }
  }

  .btn-container {
    margin: 22px 0 48px 0;

    button {
      font-size: 16px;
      font-family: "Lato", sans-serif;
      font-weight: 600;
      padding: 16px 32px;
      border: none;
      text-decoration: none;
      background-color: $primaryRed;
      color: white;
    }
  }

  .btn-schedule {
    display: none;
  }
}

.mobile-menu {
  transform: scale(0);
  transition: 200ms ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;
  position: fixed;
  background-image:
    linear-gradient(
      90deg,
      rgba(236, 236, 236, 0.9)
      98%,
      rgba(236, 236, 236, 0.9)
      100%,
      rgba(216, 216, 216, 0.9) 100%
    ),
    url(../assets/img/aboutHeadBack.jpg);
  background-size: cover;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;

  .close-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    color: $primaryBlack;
  }

  ul {
    width: 100%;
    height: 80%;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    li {
      border-bottom: 3px solid $primaryRed;

      a {
        text-decoration: none;
        font-family: 'cocogoose-trial', sans-serif;
        color: $primaryBlack;
        font-size: 18px;
        font-weight: 400;
      }
    }
  }
}

.mobile-menu.active {
  transform: scale(1);
}

.featured-artists {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .artist-title {
    margin: 15px 0;

    h3 {
      margin: 32px 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: $primaryBlack;
      font-family: "Lato", sans-serif;
      font-size: 20px;
      font-weight: 700;

      &::after {
        margin-top: 15px;
        display: block;
        position: relative;
        content: "";
        height: 1px;
        width: 40px;
        background-color: #fa5039;
      }
    }
  }

  .artists-container {
    margin-bottom: 32px;
    width: 90vw;
    row-gap: 24px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;

    .card {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .card-image-container {
        width: 38%;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .card-img {
          width: 120px;
          height: 110px;
          background-position: center center;
          background-repeat: no-repeat;
          background-size: cover;
        }
      }

      .card-text {
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: 100%;

        .top-text {
          display: flex;
          flex-direction: column;

          &::after {
            margin-top: 12px;
            display: block;
            position: relative;
            content: "";
            height: 2px;
            width: 18px;
            background-color: #bebebe;
          }

          .top-title {
            color: $primaryBlack;
            font-family: "Lato", sans-serif;
            font-size: 18px;
            font-weight: 800;
            margin-bottom: 8px;
          }

          .top-genres {
            font-family: 'Lato', sans-serif;
            font-weight: 600;
            font-size: 14px;
            color: #ff7842;
            font-style: italic;
          }
        }

        p {
          margin-top: 12px;
          font-family: 'Lato', sans-serif;
          font-size: 12px;
          font-weight: 700;
          color: #787878;
          line-height: 18px;
        }
      }
    }

    .card.hidden {
      display: none;
    }
  }

  .more-btn {
    margin: 0 0 24px 0;
    width: 90vw;

    .view-btn {
      font-family: 'Lato', sans-serif;
      font-weight: 600;
      color: #787878;
      width: 100%;
      background-color: transparent;
      padding: 12px;
      border: 1px solid #bebebe;

      i {
        margin-left: 8px;
        color: $primaryRed;
      }
    }
  }
}

.sponsors-home {
  display: none;
}

.footer-home {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #414246;
  margin-top: 25px;
  padding: 25px 0;

  .footer-img {
    height: 60px;
    width: 60px;
  }

  .footer-text-container {
    width: 60%;
    margin-left: 35px;

    .footer-text {
      color: white;
      font-family: 'Lato', sans-serif;
      font-weight: 600;
      font-size: 12px;
      line-height: 20px;
    }

    .footer-second-text {
      display: none;
    }
  }
}

@media only screen and (min-width: 768px) {
  .top-nav-desktop {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #3e3e3e;
    justify-content: flex-end;
    padding-right: 20%;
    height: 40px;

    ul {
      color: white;
      font-weight: 600;
      font-family: 'Lato', sans-serif;
      font-size: 15px;
      width: 320px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: row;
      list-style-type: none;
    }
  }

  .header {
    height: 65vh;
    justify-content: flex-start;
    padding-top: 70px;
    background-position: center;

    .head-title {
      width: 80vw;
      margin-top: 30px;
      align-items: flex-start;

      span {
        font-size: 34px;
      }

      h1 {
        width: 65%;
        margin-top: 24px;
        font-size: 72px;
        line-height: 72px;
      }

      p {
        font-size: 16px;
        width: 40vw;
      }
    }

    .head-bottom {
      width: 80vw;

      h2 {
        font-size: 32px;
        margin-bottom: 14px;
      }

      span {
        font-size: 20px;
      }
    }
  }

  .main-program {
    padding-bottom: 48px;

    h3 {
      font-size: 28px;
      margin-top: 50px;
    }

    ul {
      width: 80vw;
      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      column-gap: 5px;

      li {
        flex-direction: column;
        height: 260px;

        article {
          text-align: center;
          height: 90%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          .container-left {
            align-items: center;
            flex-direction: column;
            height: 50%;
            width: 85%;
            margin-left: 0;

            h4 {
              font-size: 20px;
            }
          }

          .container-right {
            margin-top: 5px;
            width: 85%;
            height: 50%;
            align-items: flex-start;

            p {
              margin: 0;
              padding: 0;
              width: 100%;
            }
          }
        }
      }
    }

    .btn-container {
      display: none;
    }

    .btn-schedule {
      display: block;
      margin-top: 42px;
      margin-bottom: 42px;

      a {
        padding-bottom: 3px;
        border-bottom: 1px solid white;
        text-decoration: none;
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        font-size: 17px;
        line-height: 22px;
        color: white;
      }
    }
  }

  .nav-desktop {
    background-color: white;
    height: 78px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    .logo-top-container {
      height: 50px;
      width: 50px;

      img {
        height: 100%;
        width: 100%;
        object-fit: contain;
      }
    }

    .nav-list-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      ul {
        width: 550px;
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        li {
          a {
            font-family: 'Latio', sans-serif;
            font-size: 15px;
            font-weight: 600;
            text-decoration: none;
            color: $primaryBlack;
          }
        }
      }

      .btn-nav-desktop {
        background-color: white;
        font-family: 'Lato', sans-serif;
        font-size: 14px;
        font-weight: 600;
        color: $primaryRed;
        border: 4px solid $primaryRed;
        padding: 12px 18px;
        margin-left: 60px;
      }
    }
  }

  .nav-mobile {
    display: none;
  }

  .featured-artists {
    margin-bottom: 42px;

    .artist-title {
      margin-top: 24px;
      margin-bottom: 48px;

      h3 {
        font-size: 28px;
      }
    }

    .artists-container {
      width: 80vw;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      column-gap: 24px;

      .card {
        .card-image-container {
          justify-content: center;

          .card-img {
            height: 150px;
            width: 185px;
          }
        }

        .card-text {
          margin-left: 10px;

          .top-text {
            .top-title {
              font-size: 20px;
            }
          }
        }
      }
    }

    .more-btn {
      display: none;
    }
  }

  .sponsors-home {
    padding: 38px 0 24px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #414246;
    width: 100%;

    h5 {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: 'Lato', sans-serif;
      color: #aeaeae;
      font-size: 26px;
      line-height: 28px;
      font-weight: 400;

      &::after {
        margin-top: 24px;
        content: '';
        display: block;
        position: relative;
        height: 1px;
        width: 40px;
        background-color: #fa5039;
      }
    }

    .partners-container {
      width: 80vw;
      margin-top: 12px;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;

      img {
        width: 130px;
        height: 130px;
      }
    }
  }

  .footer-home {
    margin: 30px 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;

    .footer-img {
      height: 180px;
      width: 180px;
      margin-right: 55px;
    }

    .footer-text-container {
      width: 40%;
      margin-left: 55px;

      .footer-text {
        font-family: 'Lato', sans-serif;
        font-weight: 700;
        font-size: 15px;
        color: $primaryBlack;
      }

      .footer-second-text {
        line-height: 22px;
        margin-top: 12px;
        font-family: 'Lato', sans-serif;
        font-weight: 700;
        font-size: 15px;
        color: $primaryBlack;
      }
    }
  }

  .footer-mobile {
    display: none;
  }
}
