@import './colors';
@import './home';
@import './fonts';
@import './about';

* {
  padding: 0;
  margin: 0;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}
